<li class="p-article-list-item">
  <time class="p-date">
    <a class="p-date-year" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}">{{ .PublishDate.Format "2006" }}</a>
    /
    <a class="p-date-month" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}/{{ .PublishDate.Format "01" }}">{{ .PublishDate.Format "01" }}</a>
    /
    <a class="p-date-date" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}/{{ .PublishDate.Format "01" }}/{{ .PublishDate.Format "02" }}">{{ .PublishDate.Format "02" }}</a>
  </time>
  <h2 class="p-article-list-item-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>
</li>
