.p-article {
  &__body {
    margin: $vr-unit * 1.5 0;

    figure {
      margin: 0 0 $vr-unit 0;
      padding: 0;
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
      }

      figcaption {
        font-size: $font-s;
        margin: 0 1rem;
      }
    }

    blockquote {
      color: $color-text-shade;
      font-style: italic;
      border-left: .25rem solid $color-background-tint;
      padding-left: .75rem;
      padding-right: 1rem;

      cite {
        font-style: normal;
        display: block;
        text-align: right;
      }
    }

    hr {
      display: block;
      border: none;
      margin: 0 0 $vr-unit 0;
      width: 100%;
      height: $vr-unit;

      &::before {
        content: "";
        display: block;
        margin: 0 1rem;
        height: $vr-unit;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20fill%3D%22white%22%20d%3D%22%20M%2010.5%204%20a%201.54%201.5%200%201%201%203%200%20l%20-1.3%208%2C%201.3%208%20a%201.54%201.5%200%201%201%20-3%200%20l%201.3%20-8Z%20M%203.9%209.1%20a%201.4%201.46%200%201%201%201.3%20-2.6%20l%206.8%205.3%206.8%20-5.3%20a%201.4%201.46%200%201%201%201.3%202.6%20l%20-7.5%202.9%2C%207.5%202.9%20a%201.4%201.46%200%201%201%20-1.3%202.6%20l%20-6.8%20-5.3%20-6.8%205.3%20a%201.4%201.46%200%201%201%20-1.3%20-2.6%20l%207.5%20-2.9%20%22%2F%3E%3C%2Fsvg%3E');
        background-size: $font-m;
        background-repeat: no-repeat;
        background-position: 0 50%;
        opacity: .5;
      }
    }

    table {
      min-width: 100%;
      white-space: nowrap;
      border-collapse: collapse;

      thead {
        background: $color-background-tint;
      }

      tbody {
        tr:nth-child(even) {
          background: $color-background-shade;
        }
      }
    }

    .highlight {
      overflow: scroll;
      line-height: 1.2em;
      margin: 0 0 $vr-unit 0;

      pre {
        margin: .5em 0;
      }

      code {
        border: none;
        background: none;
        padding: 0;
      }
    }

    code {
      display: inline-block;
      font-size: $font-s;
      border: 1px solid $color-background-tint;
      background: $color-background-shade;
      padding: 0 .5em;
      vertical-align: .15em;
    }

    iframe {
      margin: $vr-unit 0;
    }

    .twitter-tweet {
      margin: 0 auto;
    }
  }
  &__header {
    font-size: $font-s;
  }
  &__footer {
    font-size: $font-s;
  }

}
