.p-article {
  &__body {
    margin: $vr-unit * 1.5 0;
    h2::before,
    h3::before,
    h4::before,
    h5::before,
    h6::before {
      opacity: .33;
      display: block;
    }
    h2::before {
      content: "##";
    }
    h3::before {
      content: "###";
    }
    h4::before {
      content: "####";
    }
    h5::before {
      content: "#####";
    }
    h6::before {
      content: "######";
    }
    figure {
      width: 100%;
      margin: 0 0 $vr-unit 0;
      padding: 0;
      text-align: center;

      img {
        max-width: 100%;
      }

      figcaption {
        font-size: $font-s;
      }
    }

    blockquote {
      color: $color-text-shade;
      font-style: italic;
    }

    hr {
      display: block;
      border: none;
      margin: 0 0 $vr-unit 0;
      width: 100%;
      height: $vr-unit;

      &::before {
        color: $color-text-shade;
        display: block;
        text-align: center;
        content: "*";
        line-height: $vr-unit;
      }
    }

    .highlight {
      overflow: scroll;
      line-height: 1.25em;
      font-size: $font-s;
      margin-bottom: $vr-unit;

      pre {
        margin: .5em 0;
      }

      code {
        border: none;
        background: none;
        padding: 0;
      }
    }

    code {
      display: inline-block;
      font-size: $font-s;
      border: 1px solid $color-background-tint;
      background: $color-background-shade;
      padding: 0 .5em;
      vertical-align: .15em;
    }

    iframe {
      margin: $vr-unit 0;
    }

    .twitter-tweet {
      margin: 0 auto;
    }
  }
}
