.p-article {
  &__body {
    margin: $vr-unit * 1.5 0;

    figure {
      margin: 0 0 $vr-unit 0;
      padding: 0;
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
      }

      figcaption {
        font-size: $font-s;
        margin: 0 1rem;
      }
    }

    blockquote {
      color: $color-text-shade;
      font-style: italic;
      border-left: .25rem solid $color-background-tint;
      padding-left: .75rem;
      padding-right: 1rem;

      cite {
        font-style: normal;
        display: block;
        text-align: right;
      }
    }

    hr {
      display: block;
      border: none;
      margin: 0 0 $vr-unit 0;
      width: 100%;
      height: $vr-unit;

      &::before {
        color: $color-text-shade;
        display: block;
        text-align: center;
        content: "*";
        line-height: $vr-unit;
      }
    }

    table {
      min-width: 100%;
      white-space: nowrap;
      border-collapse: collapse;

      thead {
        background: $color-background-tint;
      }

      tbody {
        tr:nth-child(even) {
          background: $color-background-shade;
        }
      }
    }

    .highlight {
      overflow: scroll;
      line-height: 1.2em;
      margin: 0 0 $vr-unit 0;

      pre {
        margin: .5em 0;
      }

      code {
        border: none;
        background: none;
        padding: 0;
      }
    }

    code {
      display: inline-block;
      font-size: $font-s;
      border: 1px solid $color-background-tint;
      background: $color-background-shade;
      padding: 0 .5em;
      vertical-align: .15em;
    }

    iframe {
      margin: $vr-unit 0;
    }

    .twitter-tweet {
      margin: 0 auto;
    }
  }
  &__header {
    font-size: $font-s;
  }
  &__footer {
    font-size: $font-s;
  }

}
