.p-footer {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: $vr-unit * .1 0;
    list-style: none;

    li {
      line-height: $vr-unit * .8;
      margin: 0 1em 0 0;
      color: $color-text-shade;
      font-size: $font-s;
    }
  }
  p {
    margin: $vr-unit * .3 0 $vr-unit * .4 0;
    line-height: $vr-unit * .8;
    color: $color-text-shade;
    font-size: $font-s;
  }
  a {
    color: $color-text-shade;

    &:hover {
      color: $color-link-shade;
    }
  }
}
