.p-greeting {
  &__rainbow {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      80deg,
      $color-red 0%,
      $color-orange 14.29%,
      $color-yellow 28.57%,
      $color-green 42.86%,
      $color-aqua 57.14%,
      $color-blue 71.43%,
      $color-purple 85.71%,
      $color-red 100%
    );
    background-size: 1000%;
    animation: 4s linear 0s infinite alternate greeting__rainbow;
  }
}

@keyframes greeting__rainbow {
  from { background-position: 0% 0%; }
  to { background-position: 100% 0%; }
}
