{{ define "main" }}
<article class="p-article">
  <header class="p-article__header">
    <time class="c-date">
      <a class="c-date--year" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}">{{ .PublishDate.Format "2006" }}</a>
      /
      <a class="c-date--month" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}/{{ .PublishDate.Format "01" }}">{{ .PublishDate.Format "01" }}</a>
      /
      <a class="c-date--date" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}/{{ .PublishDate.Format "01" }}/{{ .PublishDate.Format "02" }}">{{ .PublishDate.Format "02" }}</a>
    </time>
    <h1 class="p-article__header-title">{{ .Title }}</h1>
  </header>

  <section class="p-article__body">
    {{ .Content | emojify }}
  </section>

  <footer>
    <ul class="c-tag-list">
      {{ range (index .Params.tags) -}}
        <li>{{ partial "components/atoms/tag.html" (dict "context" $ "tag" .) }}</li>
      {{ end -}}
    </ul>
  </footer>
</article>
{{ end }}
