{{ define "main" }}
<article class="p-article">
  <header class="p-article__header">
    <time class="c-date">
      <a class="c-date--year" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}">{{ .PublishDate.Format "2006" }}</a>
      /
      <a class="c-date--month" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}/{{ .PublishDate.Format "01" }}">{{ .PublishDate.Format "01" }}</a>
      /
      <a class="c-date--date" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}/{{ .PublishDate.Format "01" }}/{{ .PublishDate.Format "02" }}">{{ .PublishDate.Format "02" }}</a>
    </time>
    <h1 class="p-article__header-title">{{ .Title }}</h1>
  </header>

  <section class="p-article__body">
    {{ .Content | emojify }}
  </section>

  <footer class="p-article__footer">
    <ul class="c-tag-list">
      {{ range (index .Params.tags) -}}
        <li>{{ partial "components/atoms/tag.html" (dict "context" $ "tag" .) }}</li>
      {{ end -}}
    </ul>
    <div class="p-article__revision">
      {{ partial "components/atoms/icon" "github.svg" }}
      <a href="{{ .Site.Params.github.url }}/commits/{{ .Site.Params.github.branch }}/content/{{ .File.Dir }}">GitHub で修正履歴を見る</a><br />
      この記事に修正が必要であれば、 <a href="https://twitter.com/{{ .Site.Params.author.twitter }}">Twitter</a> または <a href="{{ .Site.Params.github.url }}/issues/new">GitHub の issue</a> にてご連絡ください。
    </div>
  </footer>
</article>
{{ end }}
