{{ define "main" }}
<article class="p-article">
  <header class="p-article-header">
    <time class="p-date">
      <a class="p-date-year" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}">{{ .PublishDate.Format "2006" }}</a>
      /
      <a class="p-date-month" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}/{{ .PublishDate.Format "01" }}">{{ .PublishDate.Format "01" }}</a>
      /
      <a class="p-date-date" href="{{ .Site.BaseURL }}/posts/{{ .PublishDate.Format "2006" }}/{{ .PublishDate.Format "01" }}/{{ .PublishDate.Format "02" }}">{{ .PublishDate.Format "02" }}</a>
    </time>
    <h1 class="p-article-header-title">{{ .Title }}</h1>
  </header>

  <section class="p-article-body">
    {{ .Content | emojify }}
  </section>

  <footer class="p-article-footer">
    <h2>タグ</h2>
    <ul class="p-tag-list">
      {{ range (index .Params.tags) -}}
      <li class="p-tag-list-item">
        <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}/">{{ . }}</a>
      </li>
      {{ end -}}
    </ul>
  </footer>

</article>
{{ end }}
