{{ $normalize := resources.Get "css/normalize.css" }}
{{ $define := ( partial "css/define.css" . ) | safeCSS | resources.FromString "css/define.css" }}
{{ $syntax := ( partial "css/syntax.css" . ) | safeCSS | resources.FromString "css/syntax.css" }}
{{ $common := resources.Get "css/common.css" }}
{{ $partials := resources.Match "css/p-*.css" | resources.Concat "css/partials.css" }}
{{ $bundle := slice $normalize $define $common $partials $syntax | resources.Concat "css/style.css" | minify | fingerprint }}

{{ return $bundle }}
