html {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-family: var(--font-family);
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.8rem;
  line-height: var(--vr-line-height);
}

@media screen and (max-width: 720px) {
  body {
    font-size: 1.5rem;
  }
}

.c-container {
  margin: 0 auto;
  max-width: var(--width-container);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: calc(var(--vr-line-height) * 2rem);
  margin:
    calc(var(--vr-line-height) * 2rem)
    0
    calc(var(--vr-line-height) * 1rem)
    0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: calc(var(--vr-line-height) * 1.5rem);
  margin:
    calc(var(--vr-line-height) * 2rem)
    0
    calc(var(--vr-line-height) * 1rem)
    0;
}

h3 {
  font-size: 2.2rem;
  line-height: calc(var(--vr-line-height) * 1.5rem);
  font-weight: 700;
  margin:
    calc(var(--vr-line-height) * 2rem)
    0
    calc(var(--vr-line-height) * 1rem)
    0;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: calc(var(--vr-line-height) * 1rem);
  margin:
    calc(var(--vr-line-height) * 2rem)
    0
    calc(var(--vr-line-height) * 1rem)
    0;
}

a,
a:visited {
  color: var(--color-dark);
}

a:hover,
a:active {
  color: rgba(var(--color-dark-rgb), .5);
}

p, ul, ol, blockquote {
  margin:
    calc(var(--vr-line-height) * 1rem)
    0
    calc(var(--vr-line-height) * 2rem)
    0;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

figure.c-plantuml {
  text-align: center;
}

figure.c-plantuml object {
  padding: 1rem;
}
