
.p-article-list {
  list-style: none;
  padding: 0;
  margin:
    calc(var(--vr-line-height) * 1rem)
    0
    calc(var(--vr-line-height) * 3rem)
    0;
}

.p-article-list-item {
  margin: calc(var(--vr-line-height) * 1.5rem) 0;
}

.p-article-list-item-title {
  margin-top: 0;
}

.p-article {
  margin:
    calc(var(--vr-line-height) * 1.5rem)
    0;
}

.p-article-front-matter {
  font-family: monospace, sans-serif;
  font-size: 78%;
  margin-bottom: calc(var(--vr-line-height) * 1rem);
}
.p-article-front-matter::before,
.p-article-front-matter::after {
  content: "---";
  display: block;
  color: var(--color-primary-tint);
}

.p-article-tag-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.p-article-tag-list li {
  display: inline-block;
}
.p-article-tag-list li::before {
  content: "\"";
}
.p-article-tag-list li::after {
  content: "\", ";
}
.p-article-tag-list li:first-child::before {
  content: "[ \"";
}
.p-article-tag-list li:last-child::after {
  content: "\" ]";
}

.p-article-header-title {
  margin-top: 0;
}

.p-article-header-title:after {
  color: var(--color-primary-tint);
  display: block;
  content: "===";
}

.p-article-body {
  margin: calc(var(--vr-line-height) * 2rem) 0;
}

.p-article-footer {
  margin: calc(var(--vr-line-height) * 2rem) 0;
}

.p-article-body figure {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.p-article-body figure img {
  max-width: 100%;
}

.p-article-body figure figcaption {
  margin: 0 0 calc(var(--vr-line-height) * 1rem) 0;
}

.p-article-body h2:before {
  color: var(--color-primary-tint);
  content: "## ";
}
.p-article-body h3:before {
  color: var(--color-primary-tint);
  content: "### ";
}
.p-article-body h4:before {
  color: var(--color-primary-tint);
  content: "#### ";
}

.p-article-body ul {
  list-style: none;
  padding: 0 0 0 3.6rem;
}

.p-article-body ul li:before {
  color: var(--color-primary-tint);
  display: inline-block;
  width: 3.6rem;
  margin-left: -3.6rem;
  text-align: center;
  font-weight: 700;
  content: "-";
}

.p-article-body blockquote {
  margin: 0;
  padding: 0;
}
.p-article-body blockquote {
  margin-left: 3.6rem;
}
.p-article-body blockquote:before {
  color: var(--color-primary-tint);
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0 0 -7.2rem -3.6rem;
  text-align: center;
  content: ">";
  font-weight: 700;
}
.p-article-body hr {
  display: block;
  border: none;
  margin: calc(var(--vr-line-height) * 2rem) 0;
  height: calc(var(--vr-line-height) * 1rem);
}
.p-article-body hr:before {
  color: var(--color-primary-tint);
  display: block;
  content: "---";
  line-height: calc(var(--vr-line-height) * 1rem);
  font-weight: 700;
}

.p-article-body div.highlight {
  overflow: scroll;
  line-height: 1.25em;
}
.p-article-body div.highlight pre {
  margin: .5em 0;
}

.p-article-body div.highlight code {
  font-size: 78%;
}

.p-article-body p > code {
  display: inline-block;
  font-size: 78%;
  color: var(--color-light-contrast);
  background: var(--color-light);
}
.p-article-body p > code:before,
.p-article-body p > code:after {
  color: var(--color-primary-tint);
  content: '`';
  font-weight: 700;
}

.p-article-body .twitter-tweet {
  margin: 0 auto;
}
