.p-date {
  color: var(--color-light);
  font-weight: 700;
}
.p-date a,
.p-date a:visited {
  color: var(--color-dark);
  text-decoration: none;
  font-weight: 400;
}

.p-date a:hover,
.p-date a:active {
  text-decoration: underline;
}
