.p-footer {
  padding:
    calc(var(--vr-line-height) * 3rem)
    calc(var(--vr-line-height) * 1.5rem);
  margin: 0;
  font-size: 1.4rem;
  color: rgba(var(--color-primary-contrast-rgb), .8);
}

.p-footer-container {
  max-width: var(--width-container);
  margin: 0 auto;
}

.p-footer a,
.p-footer a:visited {
  color: rgba(var(--color-primary-contrast-rgb), .8);
}

.p-footer a:hover,
.p-footer a:active {
  color: rgba(var(--color-primary-contrast-rgb), .5);
}

.p-footer p {
  margin: 0;
}
