.p-header {
  padding:
    calc(var(--vr-line-height) * 2rem)
    3rem;
  color: var(--color-primary-contrast);
}

.p-header a {
  color: var(--color-primary-contrast);
}

.p-header a:hover {
  color: rgba(var(--color-primary-contrast-rgb), .75);
}

.p-header-title {
  margin:
    0
    0
    calc(var(--vr-line-height) * 1rem)
    0;
  font-size: 1.8rem;
  font-weight: 800;
}

.p-header-title-link {
  text-decoration: none;
}

.p-header-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-header-links-item {
  margin: 0;
  padding-right: 2rem;
}
