.p-main {
  background: var(--color-dark-contrast);
  margin: 0 calc(var(--vr-line-height) * .5rem);
  padding:
    calc(var(--vr-line-height) * 2rem)
    calc(var(--vr-line-height) * 1rem)
    calc(var(--vr-line-height) * 4rem)
    calc(var(--vr-line-height) * 1rem);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
