.p-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.p-social-list-item {
  margin: 0;
  padding: 0 1rem 0 0;
}

.p-social-list-item svg {
  width: 2.4rem;
  height: 2.4rem;
}
