.p-tag-list {
  list-style: none;
  line-height: calc(var(--vr-line-height) * 1rem * 2);
  margin: calc(var(--vr-line-height) * 1rem) 0;
  padding: 0;
}

.p-tag-list-item {
  display: inline-block;
  margin-right: 1rem;
}

.p-tag-list-count {
  font-size: 1.4rem;
  margin: 0 0 0 -.6rem;
}
