.p-tag-list {
  list-style: none;
  line-height: calc(var(--vr-line-height) * 1rem * 2);
  margin: calc(var(--vr-line-height) * 1rem) 0;
  padding: 0;
}

.p-tag-list-item {
  color: var(--color-light);
  display: inline-block;
  margin-right: .5em;
  font-weight: 700;
}

.p-tag-list-item a {
  font-weight: 400;
  color: var(--color-dark);
}
