.p-tag-list {
  list-style: none;
  line-height: calc(var(--vr-line-height) * 1rem * 2);
  margin: calc(var(--vr-line-height) * 1rem) 0;
  padding: 0;
  font-size: 1.5rem;
}

.p-tag-list-item {
  display: inline-block;
  margin-right: 1rem;
}

.p-tag-list-item a {
  display: block;
  line-height: calc(var(--vr-line-height) * 1rem * 1.5);
  background: var(--color-primary-tint);
  color: var(--color-primary-contrast);
  border-radius: .6rem;
  text-decoration: none;
  margin: calc(var(--vr-line-height) * .25rem) 0;
  padding: 0 .6rem;
}

.p-tag-list-item a:hover,
.p-tag-list-item a:active {
  background: rgba(var(--color-primary-rgb), .75);
}

.p-tag-list-count {
  font-size: 1.2rem;
  margin: 0 0 0 -.6rem;
}
