{{- define "title" -}}
  {{- partial "commands/put_title.html" (printf "記事一覧 &middot; %s" .Site.Title) -}}
{{- end -}}
{{ define "main" }}
<h1>記事一覧</h1>
<ul class="p-article-list">
  {{- if .Sections }}
    {{ range .Sections }}
      {{- range (site.GetPage "section" .File.Dir).RegularPagesRecursive }}
        {{ partial "components/molecules/article-headline.html" . }}
      {{- end }}
    {{ end }}
  {{- else }}
    {{- range (site.GetPage "section" .File.Dir).RegularPagesRecursive }}
      {{ partial "components/molecules/article-headline.html" . }}
    {{- end }}
  {{- end }}
</ul>
{{ end }}
