/*
 * you can overwrite variables by coping this file to
 * your_project_root/layouts/partials/define.css
 */
:root {
  --font-family: system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI,
    /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu,
    /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 5+ */ Noto Sans,
    /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";

  /* vertical rhythms */
  --vr-line-height: 1.9;

  --width-container: 900px;

  --color-background: #ffffff;

  /*
   * Color Theme by Ionic Framework Color Generator
   * https://ionicframework.jp/docs/theming/color-generator/?primary=#347393&secondary=#30A189&tertiary=#E0B938&success=#2EB873&warning=#F0D322&danger=#F03922&dark=#484C4F&medium=#8E959C&light=#C8D3DB
   */
   --color-primary: #347393;
   --color-primary-rgb: 52,115,147;
   --color-primary-contrast: #ffffff;
   --color-primary-contrast-rgb: 255,255,255;
   --color-primary-shade: #2e6581;
   --color-primary-tint: #48819e;

   --color-secondary: #30A189;
   --color-secondary-rgb: 48,161,137;
   --color-secondary-contrast: #ffffff;
   --color-secondary-contrast-rgb: 255,255,255;
   --color-secondary-shade: #2a8e79;
   --color-secondary-tint: #45aa95;

   --color-tertiary: #E0B938;
   --color-tertiary-rgb: 224,185,56;
   --color-tertiary-contrast: #000000;
   --color-tertiary-contrast-rgb: 0,0,0;
   --color-tertiary-shade: #c5a331;
   --color-tertiary-tint: #e3c04c;

   --color-success: #2EB873;
   --color-success-rgb: 46,184,115;
   --color-success-contrast: #000000;
   --color-success-contrast-rgb: 0,0,0;
   --color-success-shade: #28a265;
   --color-success-tint: #43bf81;

   --color-warning: #F0D322;
   --color-warning-rgb: 240,211,34;
   --color-warning-contrast: #000000;
   --color-warning-contrast-rgb: 0,0,0;
   --color-warning-shade: #d3ba1e;
   --color-warning-tint: #f2d738;

   --color-danger: #F03922;
   --color-danger-rgb: 240,57,34;
   --color-danger-contrast: #ffffff;
   --color-danger-contrast-rgb: 255,255,255;
   --color-danger-shade: #d3321e;
   --color-danger-tint: #f24d38;

   --color-dark: #484C4F;
   --color-dark-rgb: 72,76,79;
   --color-dark-contrast: #ffffff;
   --color-dark-contrast-rgb: 255,255,255;
   --color-dark-shade: #3f4346;
   --color-dark-tint: #5a5e61;

   --color-medium: #8E959C;
   --color-medium-rgb: 142,149,156;
   --color-medium-contrast: #000000;
   --color-medium-contrast-rgb: 0,0,0;
   --color-medium-shade: #7d8389;
   --color-medium-tint: #99a0a6;

   --color-light: #C8D3DB;
   --color-light-rgb: 200,211,219;
   --color-light-contrast: #000000;
   --color-light-contrast-rgb: 0,0,0;
   --color-light-shade: #b0bac1;
   --color-light-tint: #ced7df;
}
